.card{
    position: relative;
}

.card img{
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

/* front of card - the picture */
.card .front {
    transform: rotateY(90deg); /*front card lai lukayo */
   transition: all ease-in 0.2s;   /* tyo flip vako animation */
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg); /*front card lai dekhayo*/
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}